@import "../variables//variables.scss";


ul[type="thumbnailList"]>li {
  &[project="airplayer"] {
    background: linear-gradient(to top left, #f2b693, #f2a2b0);
  }

  &[project="mosaicify"] {
    background: linear-gradient(to right bottom,
        #d16ba5,
        #c777b9,
        #ba83ca,
        #aa8fd8,
        #9a9ae1,
        #8aa7ec,
        #79b3f4,
        #69bff8,
        #52cffe,
        #41dfff,
        #46eefa,
        #5ffbf1);
  }

  &[project="notflix"] {
    background: #e50914;
  }

  &[project="ascension"] {
    color: #ffd800;
    background: #211510;
  }

  &[project="gitview"] {
    background: #4582ec;
  }

  &[project="chess"] {
    background: #a87e2b;
    background-image: linear-gradient(45deg, #ffdf9e 25%, transparent 25%),
      linear-gradient(-45deg, #ffdf9e 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ffdf9e 75%),
      linear-gradient(-45deg, transparent 75%, #ffdf9e 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }
}

div[type="carousel"] ul {
  display: grid;
  grid-gap: 20px;
  padding: 0 20px;
  height: calc(100% - 40px);
  list-style: none;
  grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
  width: 100%;

  // On Tablet and smaller
  @media (max-aspect-ratio: 5/3) and (min-aspect-ratio: 1/1) {
    padding: 0 10%;

    grid-template-rows: repeat(6, minmax(2%, 8%));
  }

  &:first-child {
    margin-top: 20px;
  }

  // On Mobile
  @media (max-aspect-ratio: 1/1) {
    justify-content: center;
  }
}

[type="thumbnail"] {
  transition: all 0.4s ease-in-out;
  color: whitesmoke;
  display: grid;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px $transparentBlack6;

  text-align: center;

  cursor: pointer;
  font-weight: 900;

  &::after {
    content: ""attr(project) "";
    text-transform: capitalize;
    font-size: 3.8vh;
  }

  // On Tablet only
  @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) {
    &::after {
      content: ""attr(abrev) "";
      font-size: 5vh;
    }

    margin: 0 10px;
  }

  opacity: 0.4;
  box-shadow: 5px 5px $transparentBlack2;

  //mobile
  @media (max-aspect-ratio: 1/1) {
    opacity: 1;
    width: 200px;
  }

  &:hover {
    transform: scale(1.25);
    box-shadow: none;

    // On Tablet
    @media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/3) {
      transform: scale(1.75);
    }

    //mobile
    @media (max-aspect-ratio: 1/1) {
      transform: scale(1);
    }
  }
}

.show[type="thumbnail"] {
  box-shadow: none;

  opacity: 1;
  transform: scale(1.25);

  // On Tablet
  @media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/3) {
    transform: scale(1.75);
  }

  //mobile
  @media (max-aspect-ratio: 1/1) {
    transform: scale(1);
    box-shadow: 5px 5px $transparentBlack2;
  }
}