* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

ul[type=thumbnailList] > li[project=airplayer] {
  background: linear-gradient(to top left, #f2b693, #f2a2b0);
}
ul[type=thumbnailList] > li[project=mosaicify] {
  background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
ul[type=thumbnailList] > li[project=notflix] {
  background: #e50914;
}
ul[type=thumbnailList] > li[project=ascension] {
  color: #ffd800;
  background: #211510;
}
ul[type=thumbnailList] > li[project=gitview] {
  background: #4582ec;
}
ul[type=thumbnailList] > li[project=chess] {
  background: #a87e2b;
  background-image: linear-gradient(45deg, #ffdf9e 25%, transparent 25%), linear-gradient(-45deg, #ffdf9e 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ffdf9e 75%), linear-gradient(-45deg, transparent 75%, #ffdf9e 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

div[type=carousel] ul {
  display: grid;
  grid-gap: 20px;
  padding: 0 20px;
  height: calc(100% - 40px);
  list-style: none;
  grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
  width: 100%;
}
@media (max-aspect-ratio: 5/3) and (min-aspect-ratio: 1/1) {
  div[type=carousel] ul {
    padding: 0 10%;
    grid-template-rows: repeat(6, minmax(2%, 8%));
  }
}
div[type=carousel] ul:first-child {
  margin-top: 20px;
}
@media (max-aspect-ratio: 1/1) {
  div[type=carousel] ul {
    justify-content: center;
  }
}

[type=thumbnail] {
  transition: all 0.4s ease-in-out;
  color: whitesmoke;
  display: grid;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  text-align: center;
  cursor: pointer;
  font-weight: 900;
  opacity: 0.4;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
[type=thumbnail]::after {
  content: "" attr(project) "";
  text-transform: capitalize;
  font-size: 3.8vh;
}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) {
  [type=thumbnail] {
    margin: 0 10px;
  }
  [type=thumbnail]::after {
    content: "" attr(abrev) "";
    font-size: 5vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  [type=thumbnail] {
    opacity: 1;
    width: 200px;
  }
}
[type=thumbnail]:hover {
  transform: scale(1.25);
  box-shadow: none;
}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/3) {
  [type=thumbnail]:hover {
    transform: scale(1.75);
  }
}
@media (max-aspect-ratio: 1/1) {
  [type=thumbnail]:hover {
    transform: scale(1);
  }
}

.show[type=thumbnail] {
  box-shadow: none;
  opacity: 1;
  transform: scale(1.25);
}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/3) {
  .show[type=thumbnail] {
    transform: scale(1.75);
  }
}
@media (max-aspect-ratio: 1/1) {
  .show[type=thumbnail] {
    transform: scale(1);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  }
}

div[type=slide] {
  position: absolute;
  display: grid;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}
div[type=slide] * {
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}
div[type=slide].show {
  opacity: 1;
  z-index: 1;
}
div[type=slide].collapsed div[type=uncollapsed] {
  opacity: 0;
  transform: scale(0);
  z-index: 0;
}
div[type=slide].collapsed div[type=collapsed] {
  transition-delay: 0.7s;
  opacity: 1;
  z-index: 2;
}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) {
  div[type=slide] div[type=uncollapsed] img[type=tablet] {
    display: initial;
    object-fit: contain;
    width: 90%;
    max-height: 85vh;
    opacity: 1;
  }
  div[type=slide] div[type=uncollapsed] img[type=desktop] {
    display: none;
  }
}

div[type=slide] > div[type=uncollapsed] {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}
div[type=slide] > div[type=uncollapsed]:hover img[type=desktop] {
  opacity: 0.6;
}
div[type=slide] > div[type=uncollapsed]:hover [type=overlay] {
  opacity: 1;
}
div[type=slide] > div[type=uncollapsed]:hover [type=tablet] {
  opacity: 0.6;
}
div[type=slide] > div[type=uncollapsed] img[type=desktop] {
  padding: 20px;
  width: 100%;
  transform: scale(1);
  position: absolute;
  opacity: 1;
  object-fit: contain;
}
div[type=slide] > div[type=uncollapsed] [type=overlay] {
  position: absolute;
  color: white;
  text-align: center;
}
div[type=slide] > div[type=uncollapsed] [type=overlay] button {
  background: #9d50bb;
  padding: 15px 25px;
  font-size: 1.5rem;
  border-radius: 90px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  transition: all 0.5s;
}
div[type=slide] > div[type=uncollapsed] [type=overlay] button:active {
  transform: translateY(3px) translateX(4px);
  box-shadow: none;
  opacity: 0.7;
}
div[type=slide] > div[type=uncollapsed] [type=tablet] {
  display: none;
}
@media (max-aspect-ratio: 1/1) {
  div[type=slide] > div[type=uncollapsed] {
    opacity: 0;
    transform: scale(0);
    z-index: 0;
  }
  div[type=slide] > div[type=uncollapsed] div[type=collapsed] {
    transition-delay: 0.7s;
    opacity: 1;
    z-index: 2;
  }
}

div[type=slide] > div[type=collapsed] {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: minmax(180px, 3fr) 7fr;
  grid-template-rows: 100%;
  opacity: 0;
  transition: opacity 2s;
}
div[type=slide] > div[type=collapsed] [type=carousel] {
  width: 100%;
  position: relative;
}
div[type=slide] > div[type=collapsed] [type=carousel] img[type=mobile] {
  padding-left: 10px;
  max-width: 100%;
  object-fit: contain;
  max-height: 80vh;
  opacity: 1;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  position: absolute;
  z-index: 1;
  opacity: 0;
}
div[type=slide] > div[type=collapsed] [type=carousel] img[type=mobile].show {
  opacity: 1;
}
div[type=slide] > div[type=collapsed] div[type=description] {
  line-height: 1.5em;
  text-align: left;
  color: white;
  font-size: 1em;
  padding: 30px 15px 30px 15px;
  height: calc(100% - 60px);
  grid-template-rows: 4fr 1fr;
}
div[type=slide] > div[type=collapsed] div[type=description] div[type=textbox] {
  height: 100%;
  height: calc(100% - 20px);
  padding-bottom: 50px;
}
div[type=slide] > div[type=collapsed] div[type=description] div[type=textbox] p {
  color: white;
}
div[type=slide] > div[type=collapsed] div[type=description] div[type=textbox] p a {
  color: #EEFFAA;
}
@media (min-aspect-ratio: 1/1) {
  div[type=slide] > div[type=collapsed] div[type=description] div[type=textbox] {
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
div[type=slide] > div[type=collapsed] div[type=description] div[type=textbox] h2 {
  line-height: 1.25em;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 10px;
}
div[type=slide] > div[type=collapsed] div[type=description] div[type=tagContainer] {
  margin: 10px -4px;
}
div[type=slide] > div[type=collapsed] div[type=description] div[type=tagContainer] [type=tag] {
  font-size: 0.8em;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 12px;
  margin: 4px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
@media (max-aspect-ratio: 1/1) {
  div[type=slide] > div[type=collapsed] {
    padding: 15px;
    grid-template-columns: 1fr;
    overflow: auto;
    grid-template-rows: unset;
    transition-delay: 0.7s;
    opacity: 1;
    z-index: 2;
  }
  div[type=slide] > div[type=collapsed] [type=carousel] {
    height: 100%;
  }
  div[type=slide] > div[type=collapsed] [type=carousel] img[type=mobile] {
    left: 50%;
    transform: translate(-50%, 0);
    right: unset;
    top: 5vh;
    max-height: 60vh;
  }
  div[type=slide] > div[type=collapsed] [type=description] {
    position: relative;
    top: 65vh;
    margin-bottom: 20px;
  }
  div[type=slide] > div[type=collapsed] [type=description] [type=buttonContainer] {
    margin-bottom: 75px;
    margin-top: -75px;
  }
}

[type=buttonContainer] {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
[type=buttonContainer] div {
  display: grid;
  justify-content: center;
}
[type=buttonContainer] div a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  pointer-events: initial;
  background: rgba(255, 255, 255, 0.8);
  color: #9d50bb;
  width: 120px;
  padding: 15px 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 90px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}
[type=buttonContainer] div a:hover {
  color: black;
  background: rgba(255, 255, 255, 0.4);
}

/* Hide scrollbars */
html * {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-color: rgba(255, 255, 255, 0.4);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100vh;
}

body {
  background: linear-gradient(to bottom, #9d50bb, #6e48aa);
}
body.showLanding div[type=landing] {
  transform: translateY(-100%);
}
body.showLanding div[type=projects] {
  opacity: 1;
}

div[type=landing] {
  animation: fadeIn 4s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  background: linear-gradient(to bottom, #9d50bb, #6e48aa);
  text-align: center;
  font-size: 5vw;
  padding-top: 30vh;
  color: white;
  text-shadow: 3px 2px rgba(0, 0, 0, 0.3);
  transition: transform ease-in-out 0.5s;
}
@media (min-width: 900px) {
  div[type=landing] {
    font-size: 42px;
  }
}
div[type=landing] h3 {
  font-weight: normal;
}
div[type=landing] button {
  font-size: 1.5rem;
  border: none;
  border-radius: 90px;
  margin-top: 15vh;
  padding: 15px 30px;
  color: #6e48aa;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  animation: hover-me 0.5s infinite ease-in-out alternate;
}
div[type=landing] button:hover {
  color: white;
  background: rgba(255, 255, 255, 0.4);
}
@keyframes hover-me {
  100% {
    transform: translate3d(0, 5px, 0);
  }
}

div[type=projects] {
  opacity: 0;
  display: grid;
  overflow: hidden;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh);
  transition: opacity 2s 0.7s !important;
}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) {
  div[type=projects] {
    grid-template-columns: 13% 1fr;
  }
}
@media (max-aspect-ratio: 1/1) {
  div[type=projects] {
    grid-template-columns: 1fr;
  }
}

[type=projects] [type=sidebar] {
  background: rgba(255, 255, 255, 0.05);
  display: grid;
  grid-template-rows: 9fr 1fr;
  transition: transform 0.5s;
}
@media (max-aspect-ratio: 1/1) {
  [type=projects] [type=sidebar] {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #9d50bb;
    transform: translateX(-100%);
  }
}
[type=projects] [type=sidebar] [type=iconContainer] {
  text-align: center;
  font-size: 2.5em;
}
[type=projects] [type=sidebar] [type=iconContainer] a {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: color 0.3s;
}
[type=projects] [type=sidebar] [type=iconContainer] a:hover {
  color: rgba(255, 255, 255, 0.2);
}

main {
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  height: calc(100% - 40px);
  justify-items: center;
  align-items: center;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-aspect-ratio: 1/1) {
  main {
    margin: 10px;
    height: calc(100% - 20px);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}

@media (max-aspect-ratio: 1/1) {
  [type=sidebar].show {
    transform: translateX(0) !important;
  }
}
[type=sidebar].show [type=close] {
  opacity: 1;
}

[type=hamburger] {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 11;
}
@media (min-aspect-ratio: 1/1) {
  [type=hamburger] {
    display: none;
  }
}
[type=hamburger] div {
  width: 24px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 4px 0;
}

[type=close] {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 11;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.5s;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.4);
}
@media (min-aspect-ratio: 1/1) {
  [type=close] {
    display: none;
  }
}
[type=close]:hover {
  transition-delay: none;
  color: rgba(255, 255, 255, 0.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*    

  //Mobile and Tablet
  @media (max-aspect-ratio: 1/1) 

  // Tablet Only
  @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) 

  // Desktop
  @media (min-aspect-ratio: 5/3) 
*/

/*# sourceMappingURL=main.css.map */
