* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
:root {
  --desktopImageHeight: 850px;
  --scale: 3.7;
}

@import "../thumbnails/thumbnails.scss";
@import "../slides/slides.scss";
main {
  background: $transparent;
  margin: 20px;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  height: calc(100% - 40px);
  justify-items: center;
  align-items: center;
  position: relative;
}

body {
  background: linear-gradient(to bottom, #9d50bb, #6e48aa);
  display: grid;
  overflow: hidden;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;

  // On Tablet
  @media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) {
    grid-template-columns: 13% 1fr;
  }
}
body [type="sidebar"] {
  background: $transparent;
  display: grid;
  grid-template-rows: 1fr;
}

/*    

  //Mobile 
  @media (max-aspect-ratio: 3/4) 

  // Tablet
  @media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) 

  // Desktop
  @media (min-aspect-ratio: 4/3) 
*/
