@import "../variables/variables.scss";

div[type="slide"] {
  position: absolute;
  display: grid;
  //prevent scrolling
  overflow: hidden;
  width: 100%;
  height: 100%;

  opacity: 0;
  z-index: 0;

  transition: all 0.5s;
  transition-timing-function: ease-in-out;

  & * {
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }

  &.show {
    opacity: 1;
    z-index: 1;
  }

  &.collapsed {
    & div[type="uncollapsed"] {
      opacity: 0;
      transform: scale(0);
      z-index: 0;
    }

    & div[type="collapsed"] {
      transition-delay: 0.7s;
      opacity: 1;
      z-index: 2;
    }




  }



  // Tablet Only
  @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) {
    & div[type="uncollapsed"] {
      & img[type="tablet"] {
        display: initial;
        object-fit: contain;
        width: 90%;
        max-height: 85vh;
        opacity: 1;
      }

      & img[type="desktop"] {
        display: none;
      }
    }
  }

}

// uncollapsed slide
div[type="slide"]>div[type="uncollapsed"] {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;

  &:hover {
    & img[type="desktop"] {
      opacity: 0.6;
    }

    & [type="overlay"] {
      opacity: 1;
    }

    & [type="tablet"] {
      opacity: 0.6;
    }
  }

  & img[type="desktop"] {
    padding: 20px;
    width: 100%;
    transform: scale(1);
    position: absolute;
    opacity: 1;

    object-fit: contain;
  }

  & [type="overlay"] {
    position: absolute;
    color: white;
    text-align: center;

    & button {
      background: $primary;
      padding: 15px 25px;
      font-size: 1.5rem;
      border-radius: 90px;
      border: none;
      cursor: pointer;
      color: white;
      box-shadow: 3px 4px $transparentBlack4;
      outline: none;
      transition: all 0.5s;

      &:active {
        transform: translateY(3px) translateX(4px);
        box-shadow: none;
        opacity: 0.7;
      }
    }
  }

  & [type="tablet"] {
    display: none;
  }

  // On mobile, auto apply the effects of collapsed 
  @media (max-aspect-ratio: 1/1) {
    opacity: 0;
    transform: scale(0);
    z-index: 0;


    & div[type="collapsed"] {
      transition-delay: 0.7s;
      opacity: 1;
      z-index: 2;
    }
  }
}

// collapsed slide
div[type="slide"]>div[type="collapsed"] {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: minmax(180px, 3fr) 7fr;
  grid-template-rows: 100%;
  opacity: 0;
  transition: opacity 2s;


  & [type="carousel"] {
    width: 100%;
    position: relative;

    & img[type="mobile"] {

      padding-left: 10px;

      max-width: 100%;
      object-fit: contain;
      max-height: 80vh;
      opacity: 1;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
      position: absolute;
      z-index: 1;

      opacity: 0;

      &.show {
        //controlled by project.startCarousel
        opacity: 1;
      }
    }
  }

  & div[type="description"] {
    line-height: 1.5em;
    text-align: left;
    color: white;
    font-size: 1em;
    padding: 30px 15px 30px 15px;
    height: calc(100% - 60px);
    grid-template-rows: 4fr 1fr;

    div[type="textbox"] {
      height: 100%;
      height: calc(100% - 20px);
      padding-bottom: 50px;

      & p {
        color: white;

        & a {
          color: #EEFFAA;
        }
      }


      // inner scroll on non mobile
      @media (min-aspect-ratio: 1/1) {
        -webkit-mask-image: linear-gradient(to bottom,
            black 80%,
            transparent 100%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);

        overflow-y: auto;
        overflow-x: hidden;
      }

      & h2 {
        line-height: 1.25em;
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 10px;
      }


    }

    & div[type="tagContainer"] {
      margin: 10px -4px;

      & [type="tag"] {
        font-size: 0.8em;
        display: inline-block;
        background: $transparent3;
        padding: 4px 12px;
        margin: 4px;
        box-shadow: 4px 4px $transparentBlack3;
      }
    }


  }

  //Mobile
  @media (max-aspect-ratio: 1/1) {
    padding: 15px;
    grid-template-columns: 1fr;
    overflow: auto;
    grid-template-rows: unset;


    // Show as if collapsed when on mobile
    transition-delay: 0.7s;
    opacity: 1;
    z-index: 2;



    & [type="carousel"] {
      height: 100%;

      & img[type='mobile'] {
        left: 50%;
        transform: translate(-50%, 0);
        right: unset;
        top: 5vh;
        max-height: 60vh;
      }
    }

    & [type="description"] {
      position: relative;
      top: 65vh;
      margin-bottom: 20px;




      & [type="buttonContainer"] {

        margin-bottom: 75px;
        margin-top: -75px;
      }


    }
  }
}

[type="buttonContainer"] {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & div {
    display: grid;
    justify-content: center;

    & a {
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      pointer-events: initial;
      background: $transparent5;
      color: $primary;
      width: 120px;
      padding: 15px 20px;
      font-size: 1rem;
      border: none;
      outline: none;
      border-radius: 90px;
      box-shadow: 3px 3px $transparentBlack4;

      &:hover {
        color: black;
        background: $transparent4;
      }
    }
  }


}