@import "../variables/variables.scss";



div[type="slide"] {
  position: absolute;
  display: grid;
  //prevent scrolling
  overflow: hidden;
  width: 100%;
  height: 100%;

  opacity: 0;
  z-index: 0;

  transition: all 0.5s;
  transition-timing-function: ease-in-out;

  & * {
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }

  &.show {
    opacity: 1;
    z-index: 1;
  }

  &.collapsed {
    & div[type="uncollapsed"] {
      opacity: 0;
      transform: scale(0);
      z-index: 0;
    }

    & div[type="collapsed"] {
      transition-delay: 0.7s;
      opacity: 1;
      z-index: 2;
    }
  }

  // Tablet Only
  @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) {
    & div[type="uncollapsed"] {
      & img[type="tablet"] {
        display: initial;
        object-fit: contain;
        width: 90%;
        max-height: 85vh;
        opacity: 1;
      }

      & img[type="desktop"] {
        display: none;
      }
    }
  }

}

// uncollapsed slide
div[type="slide"]>div[type="uncollapsed"] {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;

  &:hover {
    & img[type="desktop"] {
      opacity: 0.6;
    }

    & [type="overlay"] {
      opacity: 1;
    }

    & [type="tablet"] {
      opacity: 0.6;
    }
  }

  & img[type="desktop"] {
    padding: 20px;
    width: 100%;
    transform: scale(1);
    position: absolute;
    opacity: 1;

    object-fit: contain;
  }

  & [type="overlay"] {
    position: absolute;
    color: white;
    text-align: center;

    & button {
      background: $primary;
      padding: 15px 25px;
      font-size: 1.5rem;
      border-radius: 90px;
      border: none;
      cursor: pointer;
      color: white;
      box-shadow: 3px 4px $transparentBlack4;
      outline: none;
      transition: all 0.5s;

      &:active {
        transform: translateY(3px) translateX(4px);
        box-shadow: none;
        opacity: 0.7;
      }
    }
  }

  & [type="tablet"] {
    display: none;
  }
}

// collapsed slide
div[type="slide"]>div[type="collapsed"] {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: minmax(180px, 3fr) 7fr;
  grid-template-rows: 100%;
  opacity: 0;
  transition: opacity 2s;








  & [type="carousel"] {
    width: 100%;
    position: relative;

    & img[type="mobile"] {

      padding-left: 10px;

      max-width: 100%;
      object-fit: contain;
      max-height: 80vh;
      opacity: 1;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
      position: absolute;
      z-index: 1;

      opacity: 0;

      &.show {
        //controlled by project.startCarousel
        opacity: 1;
      }
    }
  }

  & div[type="description"] {
    line-height: 1.5em;
    text-align: left;
    color: white;
    font-size: 1em;
    padding: 30px 15px 30px 15px;
    height: calc(100% - 60px);
    grid-template-rows: 4fr 1fr;

    div[type="textbox"] {
      height: 100%;
      height: calc(100% - 20px);
      padding-bottom: 50px;


      // inner scroll on non mobile
      @media (min-aspect-ratio: 1/1) {
        -webkit-mask-image: linear-gradient(to bottom,
            black 80%,
            transparent 100%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);

        overflow-y: auto;
        overflow-x: hidden;
      }

      & h2 {
        line-height: 1.25em;
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 10px;
      }

      & & p {
        color: $transparent5;
      }
    }

    & div[type="tagContainer"] {
      margin: 10px -4px;

      & [type="tag"] {
        font-size: 0.8em;
        display: inline-block;
        background: $transparent3;
        padding: 4px 12px;
        margin: 4px;
        box-shadow: 4px 4px $transparentBlack3;
      }
    }


  }

  //Mobile
  @media (max-aspect-ratio: 1/1) {
    padding: 20px;
    grid-template-columns: 1fr;
    overflow: auto;
    grid-template-rows: unset;


    & [type="carousel"] {
      height: 100%;

      & img[type='mobile'] {
        left: 50%;
        transform: translate(-50%, 0);
        right: unset;
        top: 5vh;
        max-height: 65vh;
      }
    }

    & [type="description"] {
      position: relative;
      top: 70vh;
      margin-bottom: 20px;

      & p {
        text-align: center;
      }

      & [type="tagContainer"] {}

      & [type="buttonContainer"] {

        margin-bottom: 75px;
        margin-top: -75px;
      }
    }
  }
}

[type="buttonContainer"] {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & div {
    display: grid;
    justify-content: center;

    & button {
      cursor: pointer;
      pointer-events: initial;
      background: $transparent5;
      color: $primary;
      width: 120px;
      padding: 15px 20px;
      font-size: 1rem;
      border: none;
      outline: none;
      border-radius: 90px;
      box-shadow: 3px 3px $transparentBlack4;

      &:hover {
        color: black;
        background: $transparent4;
      }
    }
  }


}

/* =================================*/
// // Uncollapsed
// div[type="slide"] {
//   position: absolute;
//   display: grid;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   transition: opacity 0.5s;
//   justify-items: flex-start;
//   align-items: center;

//   & div[type="description"] {
//     z-index: 0;
//     position: absolute;
//     width: 54%;
//     right: 20px;
//     pointer-events: none;
//     line-height: 1.5em;
//     text-align: left;
//     color: white;
//     font-size: 1em;

//     opacity: 0;
//     transition: opacity 2s;
//     transition-delay: 0.7s;
//     height: 85%;

//     & h2 {
//       font-weight: 900;
//       font-size: 2rem;
//       text-align: center;
//       padding-bottom: 10px;
//     }

//     & p {
//       color: $transparent5;
//     }

//     & div[type="tagContainer"] {
//       margin: 10px -4px;
//       & [type="tag"] {
//         font-size: 0.8em;
//         display: inline-block;
//         background: $transparent3;
//         padding: 4px 12px;
//         margin: 4px;
//         box-shadow: 4px 4px $transparentBlack3;
//       }
//     }

//     & [type="buttonContainer"] {
//       padding: 20px 0;
//       display: grid;
//       grid-template-columns: 1fr 1fr;

//       & div {
//         display: grid;
//         justify-content: center;

//         & button {
//           cursor: pointer;
//           pointer-events: initial;
//           background: $transparent5;
//           color: $primary;
//           width: 120px;
//           padding: 15px 20px;
//           font-size: 1rem;
//           border: none;
//           outline: none;
//           border-radius: 90px;
//           box-shadow: 3px 3px $transparentBlack4;

//           &:hover {
//             color: black;
//             background: $transparent4;
//           }
//         }
//       }
//     }
//   }

//   & div[type="container"] {
//     position: relative;
//     display: grid;

//     height: 100%;
//     transition: width 0.7s, height 0.7s, opacity 0.7s;

//     justify-items: center;
//     align-items: center;

//     width: 100%;

//     &:hover {
//       & img[type="desktop"] {
//         opacity: 0.6;
//       }

//       & [type="overlay"] {
//         opacity: 1;
//       }

//       & [type="tablet"] {
//         opacity: 0.6;
//       }
//     }
//     & img[type="desktop"] {
//       transition: width 0.5s, transform 0.5s, opacity 0.5s;
//       transition-timing-function: ease-in-out;
//       padding: 20px;
//       width: 100%;
//       // transform: scale(1);
//       position: absolute;
//       // opacity: 1;

//       transform: scale(0);
//       opacity: 0;

//       object-fit: contain;
//     }

//     & img[type="desktop"].show {
//       opacity: 1;
//       transform: scale(1);
//     }

//     & img[type="mobile"] {
//       position: absolute;

//       transition: transform 0.7s, opacity 0.7s;
//       transition-delay: 0.5s;
//       transform: scale(0);

//       max-height: 85%;
//       object-fit: contain;
//       width: 100%;
//       opacity: 0;
//     }

//     & img[type="mobile"].show {
//       opacity: 1 !important;
//       transition: opacity 1.5s !important;
//     }

//     & [type="overlay"] {
//       transition: top 0.5s right 0.5s;
//       position: absolute;
//       color: white;
//       text-align: center;
//       opacity: 0;

//       & button {
//         background: $primary;
//         padding: 15px 25px;
//         font-size: 1.5rem;
//         border-radius: 90px;
//         border: none;
//         cursor: pointer;
//         color: white;
//         box-shadow: 3px 4px $transparentBlack4;
//         outline: none;
//         transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
//         opacity: 1;

//         &:active {
//           transform: translateY(3px) translateX(4px);
//           box-shadow: none;
//           opacity: 0.7;
//         }

//         &:focus {
//           transform: scale(0);
//         }
//       }
//     }

//     & [type="tablet"] {
//       display: none;
//       transition: opacity 0.7s, transform 0.7s;
//     }
//   }
//   // Tablet Only

//   @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) {
//     & div[type="container"] {
//       & img[type="tablet"] {
//         display: initial;
//         object-fit: contain;
//         width: 90%;
//         max-height: 85vh;
//         opacity: 1;
//       }
//       & img[type="desktop"] {
//         display: none;
//       }
//     }
//   }

//   // Mobile only
//   @media (max-aspect-ratio: 1/1) {
//     & div[type="container"] {
//       padding: 0;
//       display: grid;
//       & [type="desktop"] {
//         display: none;
//       }

//       & [type="overlay"] {
//         display: none;
//       }

//       & [type="tablet"] {
//         display: none;
//       }
//       height: 75vh;
//       & img[type="mobile"] {
//         transition: none;
//         transform: none;
//         position: static;
//         width: 100vw;

//         object-position: center;
//       }
//       & img[type="mobile"][overlay="true"] {
//         position: absolute;
//       }
//     }

//     & div[type="description"] {
//       // Extra white space at bottom for fade
//       padding: 15px 35px 80px 15px;
//       z-index: 1;
//       position: static;
//       left: auto;
//       line-height: 1.6em;
//       color: white;
//       font-size: 1rem;
//       width: calc(100%);
//       opacity: 1;
//       text-align: center;

//       height: 100%;
//     }
//   }
// }

// // Collapsed
// div[type="slide"].collapsed {
//   & div[type="description"] {
//     opacity: 1;
//     z-index: 5;
//     display: initial;
//   }

//   // TODO pass this style in a seperate class with a slight delay
//   & div[type="container"] {
//     // Desktop
//     @media (min-aspect-ratio: 5/3) {
//       width: 30%;
//       position: fixed;
//       left: 38%;
//       top: 50%;
//       transform: translate(-50%, -50%);
//     }

//     // Tablet
//     @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/3) {
//       width: 30%;
//       position: fixed;
//       left: 33%;
//       top: 50%;
//       transform: translate(-50%, -50%);
//     }
//     // Mobile only
//     @media (max-aspect-ratio: 1/1) {
//       width: auto;
//     }

//     // & img[type="desktop"] {
//     //   transform: scale(0);
//     //   opacity: 0;
//     // }
//     & [type="overlay"] {
//       // visibility: hidden;
//       opacity: 0;
//     }

//     & img[type="mobile"] {
//       transform: scale(1);
//     }

//     & img[type="tablet"] {
//       transform: scale(0);
//       opacity: 0;
//     }
//   }
// }

// [type="slide"].animationCleanUp {
//   & > div[type="description"] {
//     & * {
//       transition-delay: none;
//       transition: opacity 0.7s;
//       opacity: 0;
//     }
//   }
// }

// .show[type="slide"] {
//   opacity: 1;
//   z-index: 10;
// }

// .hide[type="slide"] {
//   opacity: 0;
//   z-index: 0;
// }